.recorRe{
    display: grid;
    grid-template-rows: 7% 85% 8%; 
   

}  
.recorRe{
    width: 100%;
    
} 
.recordText{
    color: white;
    text-align: center;
    background-color: black;
    font-size: 8px;
}
.recordTexts{
    color: white;
    text-align: center;
    background-color: black;
    font-size: 14px; 
} 


.imgRecord{
    width: 100%; 
}
.textRecor{
    margin-top: 6px;
}
.textRecord{
    margin-top: 18px;
}
@media screen and (min-width: 2560px) {
    .imgRecord{
        width: 100%;
        height: 100%;
    }
    .recorRe{
        display: grid;
        grid-template-rows: 10% 80% 10%; 
    
    } 
    .recordText,.recordTexts{
        color: white;
        text-align: center;
        background-color: black;
        font-size: 39px;
    }
}

@media screen and (min-width: 780px){
    .imgRecord{
        height: 105%; 
    }
}

